#user-info {
    position: absolute;
    right: 10px;
    top: 10px;
}
#user-info p {
    margin: 0;
    line-height: 1.5; 
    font-size: 0.9rem; 
}
#user-info .btn-logout {
    display: block; 
    margin-left: 280px;
    width: 70px;
}

.sectionHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    margin-top: 20%; 
}

.content-box {
    width: 100px;
    height: 100px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    display: block;
    clear: both;
    justify-content: center;
    align-items: center;
}
#headerLogin .btn {
    width: 240px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

#headerLogin .user-info p {
    margin: 5px 0;
}

#headerLogin .btn-logout {
    background-color: #dc3545;
    color: white;
    height: 38px;
    justify-content: center;
}

#headerLogin .btn-agendamento {
    background-color: #007bff;
    color: white;
}

#headerLogin .nao-apto {
    color: #dc3545;
    font-weight: bold;
}
.btn-logout, #toggleAgendamentos, #toggleRealizarAgend {
    width: 280px; 
    margin-top: 5px; 
}

#user-info p {
    margin: 0;
    line-height: 1.5; 
    font-size: 0.9rem; 
}

.nao-apto {
    color: red;
}
.apto {
    color: green;
}