.sectionHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajuste a altura conforme necessário */
    margin-top: 20%; /* Espaço abaixo do header */
}

.content-box {
    width: 100px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    background-color: #f0f0f0; /* Cor de fundo do quadrado */
    border: 1px solid #ccc; /* Borda do quadrado */
    display: block;
    clear: both;
    justify-content: center;
    align-items: center;
}
#headerLogin .btn {
    width: 180px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

#headerLogin .user-info p {
    margin: 5px 0;
}

#headerLogin .btn-logout {
    background-color: #dc3545;
    color: white;
    height: 50px;
    justify-content: center;
}

#headerLogin .btn-agendamento {
    background-color: #007bff;
    color: white;
}

#headerLogin .nao-apto {
    color: #dc3545;
    font-weight: bold;
}
