{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <style>
        .scrollbar {
            max-height: 200px; /* Altura máxima antes da barra de rolagem aparecer */
            overflow-y: auto; /* Ativa a barra de rolagem vertical */
            padding: 5px;
            border: 1px solid #ccc; /* Borda para o contêiner */
        }
    </style>
</head>
<body>

    <form action="{% url 'cadastro'%}" method="POST">{%csrf_token%}
        <input type="text" name="cpf" placeholder="CPF">
        <br>
        <input type="text" name="nome_completo" placeholder="Nome Completo">
        <br>
        <input type="date" name="data_nascimento" placeholder="Data de Nascimento">
        <br>
        <input type="password" name="password" placeholder="Senha" required>
        <br>
        <input type="password" name="confirm_password" placeholder="Confirme a Senha" required>
        <br>
        <br>
        <input type="checkbox" name="teve_covid_ultimos_30_dias"> Teve Covid nos últimos 30 dias
        <br>
        <div class="scrollbar">
            {% for nome_grupo in grupos_atendimento %}
                <input type="checkbox" name="grupos_atendimento" value="{{ nome_grupo }}"> {{ nome_grupo }}
                <br>
            {% endfor %}
        </div>
        <br>
        <input type="submit">
    </form>
    <script type="text/javascript">
        "{% for message in messages %}"
            alert("{{ message }}");
        "{% endfor %}"

        function validatePassword() {
            var password = document.getElementsByName('password')[0];
            var confirm_password = document.getElementsByName('confirm_password')[0];

            if (password.value != confirm_password.value) {
                alert('A confirmação da senha não corresponde à senha inserida.');
                return false;
            }
            return true;
        }

    var form = document.getElementsByTagName('form')[0];
    form.onsubmit = validatePassword;
    </script>
</body>
</html>