{% if user.is_authenticated %}
    <header id="headerLogin" class="border-bottom" style="width: 100%;">
        <!-- Outros elementos do header aqui -->
            <div id="user-info" class="text-end user-info">
                <p>Nome Completo: {{ user.nome_completo }}</p>
                <p>Data de Nascimento: {{ user.data_nascimento }} ({{ user.get_idade }} anos)</p>
                <p>CPF: {{ user.cpf }}</p>
                <a href="{% url 'logout' %}" class="btn btn-logout">Logout</a>
                <button id="toggleAgendamentos" class="btn btn-secondary" style="width: 280px;">Exibir Lista de Agendamentos</button>
                    
                {% if user.is_apto_agendamento %}
                    <p>Você está apto para realizar agendamentos: </p>
                    <button id="toggleRealizarAgend" class="btn btn-primary" data-tem-agendamento-ativo="{% if tem_agendamento_ativo %}true{% else %}false{% endif %}">Realizar Agendamento</button>
                    {% else %}
                    <p class="nao-apto">Você não está apto para realizar agendamentos.</p>
                {% endif %}
            </div>
        
    </header>
    <div id="listaAgendamentos" style="display:none;">
        {% include '_lista_agendamento.html' %}
    </div>
{% endif %}
