{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <!-- Informações do usuário -->
            <div class="col-md-6">
                <p>Nome Completo: {{ user.nome_completo }}</p>
                <p>Data de Nascimento: {{ user.data_nascimento }} ({{ user.get_idade }} anos)</p>
                <p>CPF: {{ user.cpf }}</p>
                {% if user.is_apto_agendamento %}
                <p class="apto">Você está apto para realizar agendamentos.</p>
                {% else %}
                    <p class="nao-apto">Você não está apto para realizar agendamentos.</p>
                {% endif %}
            </div>

            <div class="col-md-6 text-end">
                <a href="{% url 'logout' %}" class="btn btn-logout">Logout</a>
                <button id="toggleAgendamentos" class="btn btn-secondary">Exibir Lista de Agendamentos</button>
                
            </div>
        </div>
    </div>

{% endif %}
