<section id="main-section" class="sectionHome">
    <div class="container mt-5">
        <h2 class="mb-4">Agendamentos</h2>
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Data e Hora</th>
                        <th>Dia da Semana</th>
                        <th>Status</th>
                        <th>Nome do Estabelecimento</th>
                        <th>Código CNES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento_usuario in agendamentos_usuario %}
                    <tr class="{% if agendamento_usuario.agendamento.expirado %}table-secondary{% endif %}">
                        <td>{{ agendamento_usuario.agendamento.data_agendamento }} às {{ agendamento_usuario.agendamento.hora_agendamento }}</td>
                        <td>{{ agendamento_usuario.agendamento.dia_semana }}</td>
                        
                        <td>{{ agendamento_usuario.status_agendamento }}</td>
                        
                        <td>{{ agendamento_usuario.agendamento.estabelecimento.nome_estabelecimento }}</td>
                        <td>{{ agendamento_usuario.agendamento.estabelecimento.codigo_cnes }}</td>
                    
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Nenhum agendamento encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</section>




