<div class="container mt-4">
    <h2>Agendar Exame</h2>
    <form method="get" action="{% url 'realizar_agendamento' %}" class="mb-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar estabelecimento..." name="q">
            <select class="form-select" name="filtro">
                <option value="nome">Nome do Estabelecimento</option>
                <option value="cnes">Código CNES</option>
            </select>
            <button class="btn btn-outline-secondary" type="submit">Filtrar</button>
        </div>
    </form>
    <form method="post" action="{% url 'realizar_agendamento' %}" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="estabelecimento" class="form-label">Estabelecimento:</label>
            <select name="estabelecimento" id="estabelecimento" class="form-select">
                <option value="">Selecione um Estabelecimento</option>
                {% for estabelecimento in estabelecimentos %}
                <option value="{{ estabelecimento.id }}">{{ estabelecimento.nome_estabelecimento }} - CNES: {{ estabelecimento.codigo_cnes }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label id="data_agendamento" for="data_agendamento" class="form-label">Data:</label>
            <input type="date" name="data_agendamento" id="data_agendamento" class="form-control" min="{{ hoje|date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
            <label for="hora_agendamento" class="form-label">Hora:</label>
            <select name="hora_agendamento" id="hora_agendamento" class="form-select">
                {% if request.user.get_idade >= 18 and request.user.get_idade <= 29 %}
                    <option value="13:00">13h</option>
                {% elif request.user.get_idade >= 30 and request.user.get_idade <= 39 %}
                    <option value="14:00">14h</option>
                {% elif request.user.get_idade >= 40 and request.user.get_idade <= 49 %}
                    <option value="15:00">15h</option>
                {% elif request.user.get_idade >= 50 and request.user.get_idade <= 59 %}
                    <option value="16:00">16h</option>
                {% else %}
                    <option value="17:00">17h</option>
                {% endif %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Agendar</button>
    </form>
</div>

