{% extends "admin/base_site.html" %}

{% block content %}
<div class="app-content">
    <h1>Gráfico de Agendamentos por Estabelecimento</h1>
    <canvas id="graficoAgendamentos" width="800" height="450"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('graficoAgendamentos');
        new Chart(ctx, {
            type: 'bar',//tipo de grafico barra
            data: {
                labels: "{{ nome_estabelecimento|safe }}", // Safe não deixa escapar caracteres
                datasets: [{
                    label: 'Quantidade de Agendamentos',
                    data: "{{ count_agendamentos|safe }}",
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}
