{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Agendamento/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <title>Home</title>
    <style>
        #user-info {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        #user-info p {
            margin: 0;
            line-height: 1.5; 
            font-size: 0.9rem; 
        }
        #user-info .btn-logout {
            display: block; 
            margin-left: 280px;
            width: 70px;
        }
    </style>
</head>  

<body>
    {% include '_header.html' %}
   <br>

    {% if user.is_superuser %}
        {% include '_lista_estabelecimentos.html' %}
    {% endif %}

    <script type="text/javascript">
        "{% for message in messages %}"
            alert("{{ message }}");
        "{% endfor %}"
    </script>
    <script src="{% static 'Bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
