{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Agendamento/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Agendamento/js/scripts.js' %}" type="text/javascript"></script>

    <title>Home</title>
    <style>
        #user-info {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        #user-info p {
            margin: 0;
            line-height: 1.5; 
            font-size: 0.9rem; 
        }
        #user-info .btn-logout {
            display: block; 
            margin-left: 280px;
            width: 70px;
        }
    </style>
</head>  

<body>
    {% include '_header.html' %}
   <br>

   <div id="listaAgendamentos" style="display:none;">
    {% include '_lista_agendamento.html' %}
    </div>

    <div id="realizarAgendamento" style="display:none;">
        {% include '_realizar_agendamento.html' %}
    </div>
    <br>
    <br>
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {% if message.tags %}<div class="{{ message.tags }}">{{ message }}</div>{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'Bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
